@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #aaabb8;
  --title-color: #2E9CCA;
  --background-colour: #25274D;
}

body {
  background: var(--background-colour);
  scroll-behavior:smooth;
}

h1 {
  color: var(--title-color);
} 

p {
  color: var(--text-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
